{% extends 'base.html'%}

{%block content%}
        {% if user.is_authenticated %}
        {{user.nickname}}님 안녕하세요
        {%endif%}
        <h1>여행을 떠나요</h1>
        {% if user.is_authenticated %}
            <div>
                <a href='{% url "blog:new" %}'>새글쓰기</a>
            </div>
        {% endif %}
        <div class="container">
        {% for blog in blogs%}
            <div>
            <h3>{{blog.title}}</h3>
            {{blog.writer}}
            {{blog.body}} <a href='{% url "blog:detail" blog.id %}'><button type="button" class="btn btn-primary">더 보기</button></a>
            <br>
            </div>
        {% endfor %}
        </div>
        {% if blogs.has_previous %}
        <a href="?page=1">처음</a>
        <a href="page={{blogs.previous_page_number}}">이전</a>
        {% endif %}
        <span>{{blogs.number}}</span>
        <span>of</span>
        <span>{{blogs.paginator.num_pages}}</span>
        {% if blogs.has_next %}
        <a href="?page={{blogs.next_page_number}}">다음</a>
        <a href="?page={{blogs.pagniator.num_pages}}">마지막</a>
        {% endif %}
{%endblock%}
